#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#foto{
    border-radius: 100%;
}
#netflix{
    display: flex;
    align-items: center;
}
#teksti2{
    display: flex;
}
#teksti3{
   display: flex;
}
#teksti4{
    display: flex;
    margin-left: 30px;
    align-items: center;
}
#teksti5{
    display: flex;
    margin-top: -2em;
}
#dren{
    margin-left: 5px;
}
#djathtas{
   background-color: blue;
   width: 500px;
   height: 200px;
   border-radius: 20px;
   color: white;
   font-size: larger;
}